
<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
    <title>ItsGot2BeUsed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Favicons-->
		<link rel="shortcut icon" href="assets/images/favicon.png">
		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
		<!-- Web Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Hind:400,700%7cLora:400i%7cPoppins:500,600,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="layout">
      <%= render "shared/nav"%>
      <div class="wrapper">
         <%= yield %>
        <%= render "shared/footer"%>
      	<a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>
    <%- render "shared/submenu"%>
  </body>
</html>